.Topo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;


    background-color: #007bff;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo h1{
    font-size: 20px;
    margin: 0;
    display: flex;
    align-items: center;
}

.favicon{
    width: 25px;
    height: 25px;
    margin-right: 9px;
}

.Topo nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

.Topo nav li{
    margin-left: 20px;
    margin-right: 30px;
    
}

.Topo nav a {
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    transition: background-color 0.3s;
}


.Topo nav a:hover{
    background-color: #0056b3;
    border-radius: 4px;
}

.Topo nav a[href="#postos"]{
    font-weight: bold;
    background-color: #28a745;
    border-radius: 4px;
}

.Topo nav a[href="#postos"]:hover{
    background-color: #1e7e34;
}

.menu-toggle{
    display:none;
    background:none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px){
    .Topo nav{
        display: none;
    }
    .menu-toggle{
        display: block;
    }
}